<div class="content">

  <div class="events">



    <div class="event" *ngFor="let item of events">
<!--TODO A MODIFIER POUR ETRE DYNAMIQUE-->
      <div class="portrait">
        <a routerLink="/Events/1"> {{ item.name }}</a>
<!--        <div class="types">-->
<!--          <div class="type">manga</div>-->
<!--          <div class="type">jeu</div> </div>-->
     </div>
      <div class="information">

        <div class="days">
          <div class="daysLeft"> days left : 3</div>
          <div class="totalDays"> total days : 5</div>
        </div>
       <div class="desc">
     {{item.description}}
        </div>
<!--        <div class="note">-->
<!--          3/5-->
<!--       </div>-->
      </div>

    </div>
  </div>


</div>
