<h1>nom de l'event</h1>
<div class="informations">
  <div class="name"> nom : <span>un nom</span></div>
  <div class="types">
  type :
    <div class="type">type1</div>
    <div class="type">type2</div>
  </div>
  <div class="desc">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa debitis, dolores ex iste nisi ut voluptatem voluptatum. Laboriosam nesciunt optio praesentium quo quod. Ut!
  </div>
  <div class="note"> note : 3/5</div>
</div>
<hr>
<div class="daysEvent">
  <div><a routerLink="/Events/1/1"></a></div>
  <div>day2</div>
  <div>day3</div>
  <div>day4</div>
</div>
