
<ng-container *ngIf="event">
<h1>{{ event.name }}</h1>
<div class="informations">
  <div class="name"> nom : <span>{{ event.name }}</span></div>
<!--  <div class="types">-->
<!--  type :-->
<!--    <div class="type">type1</div>-->
<!--    <div class="type">type2</div>-->
<!--  </div>-->
  <div class="desc">
    {{ event.description }}
  </div>
  <div class="note"> note : 3/5</div>
</div>
<hr>
<div class="daysEvent">


  <div routerLink="/Events/{{ id }}/{{ item.id }}" *ngFor="let item of event.days; let i=index">
    <div>day {{ i+1 }}</div>
    <div>{{ item.date }}</div>
    <div>{{ item.type.name }}</div>


  </div>


</div>
  <div >
    <h2>comment</h2>
    <div *ngFor="let item of event.comments; let i=index">
      <div>portrait</div>
      <div> {{ item.content }}</div>
    </div>
    <div></div>
    <div></div>
  </div>
</ng-container>
